{% extends "pages/organization/layout.html.twig" %}

{% block organization %}
    

    <div style="padding: 25px; border-radius: 25px; background-color: gray; display: inline-block;margin: 25px;">
        <header>
            Blog
        </header>
        <hr>
        <p>
            Tutaj lista wspisów pracowników tej firmy.
        </p>
    </div>
{% endblock %}