{% extends "pages/organization/layout.html.twig" %}

{% block organization %}
    

    <div style="padding: 25px; border-radius: 25px; background-color: gray; display: inline-block;margin: 25px;">
        <header>
            Oferta
        </header>
        <hr>
        <ul>
            <li>Gładzie: 25 zł/ m<sup>2</sup></li>
            <li>Gładzie: 25 zł/ m<sup>2</sup></li>
            <li>Gładzie: 25 zł/ m<sup>2</sup></li>
        </ul>
    </div>
{% endblock %}