{% extends "pages/profile/layout.html.twig" %}

{% block profil %}
    <div style="padding: 25px; border-radius: 25px; background-color: gray; display: inline-block;margin: 25px;">
        <header>
            Blog
        </header>
        <hr>
        <p>
            Lista wszystkich blogowych wpisów tego użytkownika. 
        </p>
    </div>
{% endblock %}