{% extends "pages/profile/layout.html.twig" %}

{% block profil %}
    <div style="padding: 25px; border-radius: 25px; background-color: gray; display: inline-block;margin: 25px;">
        <header>
            Kontakt
        </header>
        <hr>
        <p>
            Telefon: <a href="tel:+48545584548">+48 545-584-548</a><br>
            E-mail: <a href="mailto:stefan-rupieniec@budi.com">stefan-rupieniec@budi.com</a>
        </p>
    </div>
{% endblock %}