{% extends "pages/profile/layout.html.twig" %}

{% block profil %}
    <div style="padding: 25px; border-radius: 25px; background-color: gray; margin: 25px;">
        <header>
            Tablica użytkownika
        </header>
        <hr>
        <p>
            Tutaj tablica użytkownika
        </p>
    </div>
{% endblock %}